@charset "UTF-8"

*{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #63E07C, #14E0AA );
}

main{
    background-color: white;
    border-radius: 12px;
    box-shadow: 5px 5px 15px #145a47;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #64C1E0;
    text-align: center;
    text-shadow: 1px 1px 0 #4b8ba0;
    
    
    
}

h2{
    color: #1C9434
}

p{
    text-align: justify;
}